<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        
        <section>
            A random pic with some quote or something
        </section>

        <section>
            Three columns with some stuff about me
        </section>

        <section>
            Three columns with my projects
        </section>
        
        {{> footer}}
    </body>   
</html>   