<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        <ul>
            <li>Project1</li>
            <li>Project 2</li>
            <li>Project 3</li>
        </ul>
        {{> footer}}
    </body>
</html>